<ion-header>
  <ion-navbar>
    <ion-title>
      IEEE RSS Aggregator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let feed of feeds">
      <h2>{{feed.name}}</h2>
      <p>{{feed.url}}</p>
    </ion-item>
  </ion-list>
</ion-content>